<footer>
  <div class="footer d-flex">
  <div class="col-lg-3 text-center">
    <h4 class="text-white">Swiggy</h4>
    <p class="text-secondary">© 2023 Bundl Technologies Pvt. Ltd</p>
  </div>
  <div class="col-lg-3">
    <ul class="fContent list-unstyled text-center">
      <li class="text-white"><strong>Company</strong></li>
      <li><a class="text-secondary" href="http://127.0.0.1:5500/about_us.html">About us</a></li>
      <li><a  class="text-secondary" href="http://127.0.0.1:5500/team.html">Team</a></li> 
    </ul>
  </div>
  <div class="col-lg-3">
    <ul class="fContent list-unstyled text-center">
      <li class="text-white"><strong>Contact us</strong></li>
      <li><a class="text-secondary" href="http://127.0.0.1:5500/help.html">Help & Support</a></li>
      <li class="text-secondary">Last order</li>
    </ul>
  </div>
  <div class="col-lg-3">
    <ul class="fContent list-unstyled text-center">
      <li class="text-white"><strong>Legal</strong></li>
      <li> <a class="text-secondary" href="http://127.0.0.1:5500/terms.html">Terms & Conditions</a></li>
      <li><a class="text-secondary" href="http://127.0.0.1:5500/cookie.html">Cookie Policy</a></li>
    </ul>
  </div>
  </div>
    </footer>